.tableContainer
{
    width:100%;
    
}
.tableContainer table
{
    border-radius: 50px;
    
}


.welcome-tag{
    text-align: left;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.671);
}

.button-expense-container{
    display: flex;
    justify-content: start;
    margin: 20px;
    margin-left: 0px;
}


.new-expense-button
{
    background-color: rgb(0,113, 227) !important;
    width: 180px;
    height: 50px;
    font-size: 18px !important;
}

.table-body{
    height: 600px;
    max-height: 600px !important;
    
}
.tableHeader{
    position: sticky;
    top: 0; /* Position the header at the top of the scrolling area */
    background-color: white; /* Set a background color for the sticky header */
    z-index: 1;
}
.expense-id-table-row{
    width: 80px;
    max-width: 80px;
}
.expense-date-table-row{
    width:200px
}