.ifrmae{
    width:100%;
    height: 800px;
}
.heading{
    text-align: left;
    color: rgba(0, 0, 0, 0.692);
    font-size: 40px;
}
h1{
    color: rgba(0, 0, 0, 0.733);
}
.two-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}
@media (max-width: 1000px) {
    .two-grid-container {
      grid-template-columns: 1fr; 
    }
  }

.donut-container{
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 50px;

}

.category-container
{
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}















.Expense-chart-div
{
    width: 80%;
}
.ProgressMonthlyLineBarContainer
{
    display: flex;
    justify-content: center ;
}
.ProgressMonthlyLineBar{
    width: 80%;
    
}