.container{
    background-color: #2c2c56;
    width:200px !important;
    height: 100%;
    position: sticky;
    left: 0%;
    top: 0%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.flexRow {
    display: block;
    position: sticky;
    left: 0%;
    top: 0%;
}


.flexRowChild :hover{
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
    transition: 0.3s linear;
}
.flexRowChild {
    transition: 0.3s linear;
}

.flexRowChild a{
    display: block; /* Make the link fill the entire space */
    color: rgba(245, 245, 245, 0.897);
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
}

.miss-minute-right{
    width: 70%;
}